.homepage{
    background-image: url(https://www.aha.video/backgroundcheck.975c41117a3dd7355f3b.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: #111313;
    overflow-x: hidden;
}