.fire {
  width: 45px;
  height: 24px;
}

.apple {
    width: 44px;
    height: 22px;
}

.android{
    height: 15px;
    width: 88px;
}
.roku {
    height: 17px;
    width: 58px;
}
.mi {
    height: 32px;
    width: 32px;
}
.smart {
    height: 34px;
    width: 77px;
}